canvas{
    
	display: block;
<<<<<<< HEAD
	margin: auto;
    margin-top: 20px;
	background-color: rgb(224, 224, 224);
	border: 1px solid black;
=======
	margin:0 auto;
>>>>>>> c4c743fd2be813657afa6a8403a8dec8ed1a281d
}

.puntuacion {
	text-align: center;
}