body {
	font-family: 'Open Sans',
	sans-serif;
}

canvas{
	display: block;
	margin: auto;
    margin-top: 20px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12),
    0 1px 2px rgba(0, 0, 0, 0.24);
}

.puntuacion {
	text-align: center;
}

h1 {
	color: rgb(49, 49, 49);
}

#pause {
	height: 3em;
	width: 3em;
	border-radius: 50%;
}

#pause:hover {
	background-color: rgb(172, 16, 16);
	color: white;
}

#play {
	width: 74px;
  height: 74px;
  border-style: solid;
  border-width: 37px;
  border-color: #202020;
}

.center {
	text-align: center;
}

button {
	padding: .2em 1em .2em 1em;
	border: 0;
	border-radius: .3em;
	background-color: rgb(204, 204, 204);
	outline:0px;
	width: 10em;
	transition: .4s;
	font-size: medium;
	font-weight: bold;
	text-align: center;
}

#start:hover {
	background-color: rgb(172, 16, 16);
	color: white;
}